/** CSS STYLE **/
:root {
  --wite: #fff;
  --translucent-white: #d7ccc0;
  --light-white: #f5f4f0;
  --main-orange: #fe8a02;
  --main-dark: #42413c;
  --dark: #2a2626;
  --translucent-dark: #908d8b;
  --brown: #b09a81;
  --blue: #1085c5;
}

@font-face {
  font-family: OpenSans;
  src: url("./../font/OpenSans-VariableFont_wdth,wght.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Neucha;
  src: url("./../font/Neucha-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: OpenSans, sans-serif;
  font-size: 16px;
  line-height: 1.6em;
  color: var(--dark);
}

h1,
h2,
h3 {
  font-family: Neucha, sans-serif;
  line-height: 1.2em;
}

.header,
section,
footer,
nav {
  display: flex;
  justify-content: center;
  padding-top: 100px;
  padding-bottom: 100px;
}

.background-image {
  position: relative;
}

.background-image::before {
  content: "";
  background: url("./../images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.1;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}

.container {
  position: relative;
  width: 1100px;
  opacity: 1;
}

.header {
  position: relative;
  margin-top: 0;
  background-color: var(--light-white);
}

.header-title {
  font-size: 72px;
  font-weight: 400;
}

.header-color-orange {
  color: #fe8a02;
}

.header-image {
  position: absolute;
  height: 525px;
  top: -43px;
  right: -280px;
}

.header-content {
  margin-top: 185px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.header-content div {
  width: 540px;
  padding-top: 15px;
}

.break {
  break-after: column;
}

.content-columns {
  column-count: 2;
  column-gap: 30px;
}

.header-button {
  display: block;
  margin-top: 40px;
  width: 148px;
  height: 50px;
  background-color: #fe8a02;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  padding-top: 12px;
  text-align: center;
}

.header-button:hover {
  background-color: #ea7600;
}

.description-content {
  padding-bottom: 0;
}

.description-header {
  text-align: center;
  font-weight: 400;
  font-size: 60px;
}

.description-header-legend {
  margin-top: 30px;
  text-align: center;
  line-height: 1.6;
  color: #212529;
}

.description-video {
  position: relative;
  width: 100%;
  height: 499px;
  filter: drop-shadow(0 16px 32px rgba(var(--black) / 15%));
}

.description-video-content {
  position: absolute;
  left: 95px;
  top: 30px;
}

/*

.navigation {
  background-color: #42413C;
}

.navigation-wrap {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 20px;

  margin-top: 100px;
}

.navigation-header {
  font-size: 52px;
  color: #fff;
  font-weight: 400;
  width: 350px;
}

.navigation-item {
  width: 350px;
  padding: 24px;
  background-color: #F5F4F0;
  text-decoration: none;
  color: #42413C;
  cursor: pointer;
}

.navigation-count {
  margin-bottom: 40px;
  font-size: 64px;
  font-family: "Neucha";
  line-height: 1;
  text-decoration: none;
}

.navigation-item-header {
  font-family: "Neucha";
  font-style: normal;
  font-weight: 400;
  font-size: 34px;
  color: #fe8a02;
  line-height: 1.2;
}

.navigation-item:hover {
  background-color: #ea7600;
  color: #FFFFFF;
}

.navigation-item:hover .navigation-item-header {
  background-color: #ea7600;
  color: #FFFFFF;
}

.navigation-item-description {
  margin-top: 16px;
}

.content-light {
  background-color: var(--light-white);
}

.content-dark {
  background-color: var(--brown);
  color: #FFFFFF;

}

.content-header {
  display: flex;
}

.content-light .content-header-wrapper {
  order: 1;
  margin-left: 30px;
}

.content-dark .content-header-wrapper {
  margin-right: 30px;
}

.content-header-preTitel {
  font-family: "Neucha";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.2;
}

.content-light .content-header-preTitel {
  color: #908D8B;
}

.content-dark .content-header-preTitel {
  color: #D7CCC0;
}

.content-header-titel {
  font-family: "Neucha";
  font-style: normal;
  font-weight: 400;
  font-size: 60px;
  line-height: 1.2;
}

.content-light .content-header-titel {
  color: #2A2626;
}

.content-header-description {
  font-family: "Neucha";
  font-style: normal;
  font-weight: 400;
  font-size: 34px;
  line-height: 1.2;
}

.content-light .content-header-description {
  color: #2A2626;
}

.content-header-image {
  filter: drop-shadow(0px 16px 32px rgba(0, 0, 0, 0.15));
  vertical-align: middle;
}

.content-main-header {
  margin-top: 100px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  text-transform: uppercase;

}

.content-light .content-main-header {
  background: #B09A81;
  color: #FFFFFF;
}

.content-dark .content-main-header {
  background: #FFFFFF;
  color: #B09A81;
}

.content-main {
  margin-top: 20px;
}

.email-wrapper {
  display: flex;
  justify-content: space-between;
  background-color: #42413C;
  color: #FFFFFF;
  padding: 55px;
}

.email-description {
  font-family: "Neucha";
  font-style: normal;
  font-weight: 400;
  font-size: 34px;
  line-height: 1.2;
}

.email-form label {
  font-family: "OpenSans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.6;
  color: #FFFFFF;
}

.email-form input {
  position: relative;
  height: 50px;
  width: 485px;

  font-family: "OpenSans";
  font-style: normal;
  font-weight: 400;
  font-size: 13.1px;
  line-height: 1.6;
  padding: 15px;

  color: rgb(117, 117, 117, 20%);
  border: none;
}

.email-form a {
  color: #FFFFFF;
}

.email-form legend {
  font-family: OpenSans, Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.6;
}

.email-input {
  position: relative;
}

.email-form button {
  position: absolute;
  content: "";
  width: 70px;
  height: 50px;
  top: 0;
  right: 0;
  background-color: #fe8a02;
  background-image: url("./../images/send.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  z-index: 100;

  cursor: pointer;
}

button:hover {
  background-color: #ea7600;
}

.coryping {
  margin-top: 60px;
  text-align: center;
  font-size: 14px;
}

.about-article,
.link {
  margin-top: 16px;
  text-align: center;
  font-size: 14px;
} */
