/** CSS STYLE **/
:root {
  --wite: #fff;
  --translucent-white: #d7ccc0;
  --light-white: #f5f4f0;
  --main-orange: #fe8a02;
  --main-dark: #42413c;
  --dark: #2a2626;
  --translucent-dark: #908d8b;
  --brown: #b09a81;
  --blue: #1085c5;
  --black: #000;
}

@font-face {
  font-weight: normal;
  font-family: OpenSans;
  font-style: normal;
  src: url("./../font/OpenSans-VariableFont_wdth,wght.ttf") format("truetype");
}

@font-face {
  font-weight: normal;
  font-family: Neucha;
  font-style: normal;
  src: url("./../font/Neucha-Regular.ttf") format("truetype");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: var(--dark);
  font-size: 16px;
  font-family: OpenSans, sans-serif;
  line-height: 1.6em;
}

h1,
h2,
h3 {
  font-family: Neucha, sans-serif;
  line-height: 1.2em;
}

.header,
section,
footer,
nav {
  display: flex;
  justify-content: center;
  padding-top: 100px;
  padding-bottom: 100px;
}

.background-image {
  position: relative;
}

.background-image::before {
  position: absolute;
  top: 0;

  width: 100%;
  height: 100%;

  background: url("./../images/background.png");
  background-repeat: no-repeat;
  background-size: cover;

  opacity: 0.1;

  content: "";
}

.container {
  position: relative;

  width: 1100px;

  opacity: 1;
}

.header {
  position: relative;

  margin-top: 0;
  padding-bottom: 100px;

  background-color: var(--light-white);
}

.header-title {
  font-weight: 400;
  font-size: 72px;
}

.header-color-orange {
  color: var(--main-orange);
}

.header-image {
  position: absolute;
  top: -44px;
  right: -279px;

  height: 525px;
}

.header-content {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;

  margin-top: 185px;
}

.header-content div {
  width: 540px;
  padding-top: 15px;
}

.chapter-1,
.chapter-2 {
  padding-left: 9px;
}

.chapter-2 {
  margin-top: 14px;
}

.break {
  break-after: column;
}

.content-columns {
  column-count: 2;
  column-gap: 30px;
}

.header-button {
  display: block;

  width: 148px;
  height: 50px;

  margin-top: 38px;
  margin-left: 10px;
  padding-top: 12px;

  color: #fff;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;

  background-color: var(--main-orange);
}

.header-button:hover {
  background-color: #ea7600;
}

.description-content {
  min-height: 805px;
  padding: 0;
}

.description-header {
  margin-top: 100px;
  padding: 0;

  font-weight: 400;
  font-size: 60px;
  text-align: center;
}

.description-header-legend {
  margin-top: 30px;

  color: #212529;
  line-height: 1.6;
  text-align: center;
}

.description-video-content {
  position: absolute;
  top: 329px;
  left: 92px;

  filter: drop-shadow(0 16px 32px #00000026);
}

.navigation {
  background-color: var(--main-dark);
}

.navigation-wrap {
  display: grid;
  grid-gap: 20px 28px;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(3, 1fr);

  margin-top: 100px;
}

.navigation-header {
  width: 350px;

  color: #fff;
  font-weight: 400;
  font-size: 52px;
}

.navigation-item {
  width: 350px;
  padding-right: 24px;
  padding-left: 23px;
  padding-bottom: 24px;

  color: var(--main-dark);
  text-decoration: none;

  background-color: var(--light-white);
  cursor: pointer;
}

.navigation-count {
  margin-top: 24px;
  margin-bottom: 40px;

  font-size: 64px;
  font-family: Neucha, sans-serif;
  line-height: 1;
  text-decoration: none;
}

.navigation-item-header {
  color: var(--main-orange);
  font-weight: 400;
  font-size: 34px;
  font-family: Neucha, sans-serif;
  font-style: normal;
  line-height: 1.2;
}

.navigation-item:hover,
.navigation-item:hover .navigation-item-header {
  color: #fff;

  background-color: #ea7600;
}

.navigation-item-description {
  margin-top: 15px;
}

.content-light {
  background-color: var(--light-white);
}

.content-dark {
  color: var(--wite);

  background-color: var(--brown);
}

.content-header {
  display: flex;
}

.content-light .content-header-wrapper {
  order: 1;
  margin-left: 30px;
}

.content-dark .content-header-wrapper {
  margin-right: 30px;
}

.content-header-pretitel {
  font-weight: 400;
  font-size: 24px;
  font-family: Neucha, sans-serif;
  font-style: normal;
  line-height: 1.2;
}

.content-light .content-header-pretitel {
  color: var(--translucent-dark);
}

.content-dark .content-header-pretitel {
  color: #d7ccc0;
}

.content-header-titel {
  font-weight: 400;
  font-size: 60px;
  font-family: Neucha, sans-serif;
  font-style: normal;
  line-height: 1.2;
}

.content-light .content-header-titel {
  color: var(--dark);
}

.content-header-description {
  font-weight: 400;
  font-size: 34px;
  font-family: Neucha, sans-serif;
  font-style: normal;
  line-height: 1.2;
}

.content-light .content-header-description {
  color: var(--dark);
}

.content-header-image {
  vertical-align: middle;

  filter: drop-shadow(0 16px 32px #00000026);
}

.content-main-header {
  margin-top: 100px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  text-transform: uppercase;
}

.content-light .content-main-header {
  color: var(--wite);

  background: var(--brown);
}

.content-dark .content-main-header {
  color: var(--brown);

  background: var(--wite);
}

.content-main {
  margin-top: 20px;
}

.hyperbolic-depreciation {
  height: 930px;
}

.email-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 55px;

  color: var(--wite);

  background-color: var(--main-dark);
}

.email-description {
  font-weight: 400;
  font-size: 34px;
  font-family: Neucha, sans-serif;
  font-style: normal;
  line-height: 1.2;
}

.email-form label {
  color: var(--wite);
  font-weight: 400;
  font-size: 18px;
  font-family: OpenSans, sans-serif;
  font-style: normal;
  line-height: 1.6;
}

.email-form input {
  position: relative;

  width: 485px;
  height: 50px;
  padding: 15px;

  color: #75757533;
  font-weight: 400;
  font-size: 13.1px;
  font-family: OpenSans, sans-serif;
  font-style: normal;
  line-height: 1.6;

  border: none;
}

.email-form a {
  color: var(--wite);
}

.email-form legend {
  font-weight: 400;
  font-size: 12px;
  font-family: OpenSans, Arial, Helvetica, sans-serif;
  line-height: 1.6;
}

.email-input {
  position: relative;
}

.email-form button {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 100;

  width: 70px;
  height: 50px;

  background-color: var(--main-orange);
  background-image: url("./../images/send.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  cursor: pointer;

  content: "";
}

button:hover {
  background-color: #ea7600;
}

.coryping {
  margin-top: 60px;

  font-size: 14px;
  text-align: center;
}

.about-article,
.link {
  margin-top: 16px;
  font-size: 14px;
  text-align: center;
}

.test:last-child h2 {
  margin-top: 31px;
  font-size: 55px;
  font-weight: normal;
  color: #ea7600;
  margin-bottom: 47px;
}
